/* selettori generici */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html{
    height: 100%; 
    width: 100%;
}

body{
    background-color: #f6f8f9;
    height: 100%; 
    width: 100%;
} 

header{
    height: 80px;
    width: 100%; 
    line-height: 80px;
    font-size: 28px;
    background-color: white;
}

h1 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;  
}

h2 {
    font-size: 24px;
    margin-top: 50px;
    display: inline-block;
    color:#444851
}

section{
    margin: 0px 0px 0px 45px;
}

/* selettore id */

#contenitore_logo{
    margin: 0 0 0 20px ;
}

#logo {
    height: 60px;
    vertical-align: middle;
}

#container {
    width: 70%;
    height: 80%;
    margin: 70px auto;   
    background-color: white; 
}

#bottone_add_task {
    text-align: center;
    display: inline-block;
    margin: 15px 0px 0px 55px;
    width: 100px;
    height: 34px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #47adf1;
    
    
}
#bottone_add_section {
    text-align: center;
    display: inline-block;
    margin: 15px 0px 0px 0px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #47adf1;
    color: #c5cbd0;
    background-color: white;
    border: 1px solid #c5cbd0;
    
}

/* selettore classi */

.linea_bottoni{
    margin-top: 10px;
    border-top: 2px solid #f6f8f9;
}
.triangolo_h2 {
    font-size: 30px;
    color:#444851;
}

.contenitore_lista{
    margin: 15px 0px 0px 8px;
}

.lista{
    color:#444851;
    font-size: 20px;
}

.bottone_lista{
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #47adf1;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    border: 1px solid #c5cbd0;
    line-height: 29px;
}

.viola{
    background-color: #9c72e4;
}

.verde{
    background-color:#64c0a9;
}

.verde_alternativo{
    background-color: #b0c926;
}

.arancione{
    background-color: #f29e33;
}

.fucsia{
    background-color: #d863a1;
}


